.rotating-gradient {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    background: linear-gradient(to bottom, #fc30e1, #3052fc);
    mask-image: radial-gradient(transparent 60%, black 60%); 
    -webkit-mask-image: radial-gradient(transparent 60%, black 60%); 
    animation: spin-gradient 1.5s linear infinite, rotate-gradient 4s linear infinite;
  }
  
  
  @keyframes spin-gradient {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  @keyframes rotate-gradient {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 100% 100%;
    }
  }